#section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog {
  margin-bottom: 5vh;
  width: 30%;
}

.blog__header {
}
.blog__header img {
  border-radius: 10px;
  display: block;
  overflow: hidden;
  background: #000;
  background-repeat: no-repeat;
}
.blog__body {
  text-align: left;
}
.blog__cate {
  background: red;
  border-radius: 20px;
  padding: 3px 10px;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}
.blog__title {
  font-size: 26px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.blog__desc {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog__info {
  color: #777;
  display: flex;
}
.blog__info .author {
  margin-right: auto;
}
