#contents {
  min-height: 70vh;
}

.blog__label {
  color: #fff;
  background-size: cover;
  padding: 150px 0;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-image: url("https://source.unsplash.com/800x600/?food");
}

.blog__label img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
}

.blog__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
  z-index: -1;
}

.section__title {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blog__label .author a {
  color: #fff;
}

.blog__label .modify a {
  color: #fff;
  opacity: 0.4;
  font-size: 0.8em;
}
.blog__label .delete a {
  color: #fff;
  opacity: 0.4;
  font-size: 0.8em;
}

.modDateWrap {
  margin-top: 10px;
}

.modiDate {
  color: #fff;
  opacity: 0.4;
  font-size: 1em;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  /* background: rgba(0,0,0,0.3); */
}

@media (max-width: 1250px) {
  .container {
    padding: 0 1rem;
  }
}

.blog__layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  .blog__layout {
    flex-direction: column;
  }
}

.blog__left {
  width: calc(100% - 340px);
  text-align: left;
  line-height: 1.8;
  margin-top: 80px;
  min-height: 800px;
}

@media (max-width: 960px) {
  .blog__left {
    width: 100%;
  }
}

.blog__left h4 {
  font-weight: 500;
  font-size: 1.4rem;
}
